.footer-section{
    background-color: #000000;
    padding:70px ;
    padding-left: 45px;
    padding-right: 45px;
    color: #757575;
    font-family: sans-serif;
    
}

.flex-container div{
  margin-bottom: 10px;
}


.main{
    margin:0px 45px ;
}
.main p{
    font-size: 17px;
}


.footer-section p{
    margin: 0px;
}

@media (min-width:900px){
    .flex-container{
        /* background-color: #e50914; */
        display: flex;
      
    }

    .flex-container div{
        flex: 1;
    }
}

.list-itme span{
 cursor: pointer;
}







.container-wrapper{
    height: 50%;
    }
 .brand{
     width: 220px;
     /* height: 115px;
     width: 200px;
     padding-left: 20px; */
 } 
 .wrapper-form{
    background-color: rgba(0, 0, 0, 0.7);
    width: 40%;
    margin: 0 auto;
 }
 .form-container{
    margin: 10px 10px;
    padding: 10px 0px
 }
 .heading-form{
     color: #ffffff;
     margin-left: 100px;
 }
 .field-input{
    padding: 15px 100px 15px 20px;
    border-radius: 4px;
    display: block;
    margin: 12px auto;
    border: none;
    
}
.btn-form{
    padding: 15px 120px;
    border-radius: 8px;
    display: block;
    margin: 12px auto;
    text-align: center;
    background: #e50914;
    border: none;
    color: white;
    font-size: 16px;
}
label{
    color: #757575;
}

.checkbox{
    margin-left: 106px;
    color: #757575;
}
.label-need{
    margin-left: 100px;
    color: #757575;
}
.img-fb{
    height: 29px;
    margin-left: 100px;
    margin-top: 20px;
    padding: 5px;
}
.label-img{
    vertical-align: super;
    color: #ffffff;
    color: #757575;
}   
.signNow{
    color: #757575;
    display: block;
    margin-left: 105px;
    margin-top: 5px;
}
.last-p{
    color: #ffffff;
    margin: 30px 0 0 100px;
    font-size: 15px;
    padding-bottom: 50px;
    color: #757575;
}
.footer{
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 50px;
    color: #757575;
}
.container-flex{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
}

.parent{
    display: flex;
    justify-content: space-between;
}

.link{
    text-decoration: none;
    color: #757575; 
}